<!DOCTYPE html>
<html>

<head>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/styles.css" type="text/css">
  <title> </title>
</head>

<body>

  <div class="my_social">
    <a href="https://www.linkedin.com/in/stewart-ilondanga-336b2743/" class="social">
      <img src="https://i.imgsafe.org/85/857cb1a42e.png" alt="linkedin"></img>
    </a>
    <a href="https://stewilondanga.github.io/" class="social">
      <img src="https://i.imgsafe.org/8d/8d745a5c82.png" alt="github"></img>
    </a>
    <a href="https://twitter.com/stew_ilondanga" class="social">
      <img src="https://i.imgsafe.org/43/431dd07874.png" alt="twitter"></img>
    </a>
  </div>

  <div id="app">
    <form class="form" action="post" method="post">
      <div class="heading">
        <h1>Sign Up</h1>

      </div>
      <div class="signup__field signup__in">
        <label for="first_name" class="label">First name</label>

        <input type="text" name="first_name" id="first_name" class="input-field" v-model="first" />
        <div class="error">
          <p>first name is taken</p>
        </div>
      </div>

      <div class="signup__field signup__in">
        <label for="last_name" class="label">Last name</label>
        <input type="text" name="last_name" id="last_name" class="input-field" v-model="last" />
        <div class="error">
          <p>last name is taken</p>
        </div>
      </div>

      <div class="signup__field signup__in">
        <label for="email" class="label">Email address</label>
        <input type="email" name="email" id="email" class="input-field" required>
        <div class="error">
          <p>invalid email</p>
        </div>
      </div>

      <div class="signup__field signup__in">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password" class="input-field" required>
        <div class="error">
          <p>weak password</p>
        </div>
      </div>
      <div>
        <div class="btn-more" id="next">next</div>
      </div>
      <fieldset class="favorite">
        <legend>Favorites</legend>

        <div class="signup__field">
          <div class="left-field">
            <div class="label" for="fav_color">What's your favorite color?</div>
            <div class="select-field">
              <select name="fav_color" id="fav_color" class="select-field__menu" v-model="selected">
                <option disabled value=""> Select</option>
                <option value="Red">Red</option>
                <option value="Orange">Orange</option>
                <option value="Yellow">Yellow</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
                <option value="Purple">Purple</option>
              </select>
            </div>
          </div>
          <div class="color-option">
            <p>Selected:</p><span> {{ selected }}</span>
          </div>
        </div>

        <div class="signup__field signup__radio">
          <div class="label">What's your favorite Ninja Turtle?</div>
          <div class="radio-btns">
            <div>
              <input type="radio" value="leo" id="nt_leo" name="ninja_turtle" v-model="picked" />
              <label for="nt_leo">Leo</label>
            </div>
            <div>
              <input type="radio" value="leo" id="nt_mikey" name="ninja_turtle" v-model="picked" />
              <label for="nt_mikey">Mikey</label>
            </div>
            <div>
              <input type="radio" value="donnie" id="nt_donnie" name="ninja_turtle" v-model="picked" />
              <label for="nt_donnie">Donnie</label>
            </div>
            <div>
              <input type="radio" value="raph" id="nt_raph" name="ninja_turtle" v-model="picked" />
              <label for="nt_raph">Raph</label>
            </div>
          </div>
        </div>

      </fieldset>
      <div class="turtle-says">
        <span>{{ selected }} {{ picked }}</span>
        <p>... says you are amazing.</p>
      </div>
      <div class="signup__field signup__check">
        <input type="checkbox" id="amazing" name="amazing">
        <label for="amazing">Yes. I'm the amazing:</label>
      </div>
      <div class="amazing-name">
        <p>{{ first }} {{ last }}</p>
      </div>
      <div class="signup__button">
        <button class="button" type="submit">Sign up</button>
      </div>
    </form>
  </div>

  <section id="contact">
    <div class="overlay">
      <div class="containers">

        <h1>
          <script>
            with(new Date) c = -new Date(y = getFullYear(), m = getMonth()).getDay(x = new Date(y, ++m, 0).getDate(b = -1))
            h = '<table class="cal"><caption> <em>Stewart ilondanga</em> &#169 ' + ' ' + y + '/' + m + '<tr>' + 'SuMoTuWeThFrSa'.replace(/(..)/g, '<th>$1')
            while ((b++ > 5 ? b = 0 : b) | c < x) h += (b ? '' : '<tr>') + '<td>' + (++c < 1 | c > x ? '-' : c);
            document.write(h + '</table>')
          </script>
        </h1>

      </div>
    </div>
  </section>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/scripts.js" charset="utf-8"></script>

</html>
